.nav {
    width: 100%;
    color: white;
    padding: 16px 0;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
  }
  
  .logo {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .nav-links {
    padding: 2px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  .nav-item:hover::after,
  .nav-item:focus::after {
    width: 100%;
    left: 0;
  }
  