<section class="home-container">
    <app-navbar class="nav-container"></app-navbar>
    <div class="basics">
        <div class="basic-info">
            <h1 class="name">Narendran M</h1>
            <p class="self-dec">
                <li>I am a software engineer with a passion for building scalable and efficient applications. </li>
                <li>I have experience in various programming languages such as Python, JavaScript, and TypeScript, as well as in web development frameworks like Angular and React. </li>
                <li>I am always eager to learn and improve my skills, and I am currently working as an A1 level web developer at UST.</li>
            </p>
        </div>
    </div>
    <div class="home-dp"></div>
</section>